/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { } */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) { } */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .top-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 
  .social-handles {
    display: block;
    width: 100%;
  }

  .contact {
    display: block;
    width: 100%;
  }
 } */


 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .top-section {
    display: block !important;
  }
  .social-handles {
    width: 100% !important;
    margin-bottom: 30px;
  }

  .contact {
    width: 100% !important;
  }

  .product-top-items, .product-middle-items, .product-bottom-items {
    display: inline !important;
    overflow-y: scroll !important;
  }
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  text-align: center;
}

.column:nth-child(1) {
  background-color: white;
}

.column:nth-child(2) {
  background-color: white;
}

.image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.read-more:hover {
  background-color: #0056b3;
}







