/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { } */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) { } */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .top-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .social-handles {
    display: block;
    width: 100%;
  }

  .contact {
    display: block;
    width: 100%;
  }
 } */



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .top-section {
    display: block !important;
   
  }
  .social-handles {
    width: 100% !important;
    margin-bottom: 30px;
  }

  .contact {
 
    width: 100% !important;
  }

  .product-top-items,.product-middle-items,.product-bottom-items {
    display: inline!important;
    overflow-y: scroll !important;
    
  }

  .services-items, .services-middle-items {
    display: inline!important;
    overflow-y: scroll !important;
    
  }

 }







